@import 'tailwindcss';
@import 'tw-animate-css';

@import './components/background.css';
@import './components/typography.css';
@import './components/buttons.css';
@import './utils/layout.css';
@import './utils/mobile.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  /* Tailwind/shadcn 기본 변수 */
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --font-pretendard: 'Pretendard';
  --font-pyeongchangpeace-bold: 'PyeongChangPeace-Bold';
  --font-pyeongchangpeace-light: 'PyeongChangPeace-Light';
  --bg-trade-card: linear-gradient(180deg, #7cc2ef 0%, #485bac 56%, #7f6fc3 100%);
  --bg-trade-reported: #606060;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PyeongChangPeace-Light';
  src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/Pc/PyeongChangPeace-Light.woff2')
    format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* UFO-Fi 디자인 시스템 */
  --color-primary-100: #f8efff;
  --color-primary-200: #ded1f1;
  --color-primary-300: #b284f7;
  --color-primary-400: #907ad6;
  --color-primary-500: #7f6fc3;
  --color-primary-600: #594589;
  --color-primary-700: #1c145b;

  /* zet package */
  --color-zet-package-gradient-1: #7cc2ef;
  --color-zet-package-gradient-2: #8094e8;
  --color-zet-package-gradient-3: #bf98f9;

  /* 버튼 전용 primary 색상 추가 */
  --color-primary-text-dark: #3b2a64;
  --color-primary-hover: #a16cf0;
  --color-next-hover: #7a6bc0;

  --color-secondary-pink: #b4fff1;
  --color-secondary-cyan: #00e6ce;
  --color-secondary-blue: #00b8a7;
  --color-secondary-fuchsia: #009181;
  --color-secondary-indigo: #006a5e;
  --color-secondary-yellow: #ffd230;

  --color-black-100: #f4f4f5;
  --color-black-200: #e4e4e7;
  --color-black-300: #d4d4d8;
  --color-black-400: #a1a1aa;
  --color-black-500: #71717a;
  --color-black-600: #27272a;
  --color-black-700: #18181b;
  --color-black-800: #09090b;

  --color-status-positive: #00bf40;
  --color-status-cautionary: #ff9200;
  --color-status-negative: #ff4242;

  --color-accent-red: #f5506c;

  --color-button-border: #31d7f3;

  /* 탐색 버튼 색상 */
  --color-exploration-gradient-from: #266dfd;
  --color-exploration-gradient-to: #f71cd7;
  --color-exploration-border-from: #67e9ff;
  --color-exploration-border-via: #dd56fc;
  --color-exploration-border-to: #f03dff;

  /* 행성 색상 */
  --color-planet1: #b39645;
  --color-planet2: #45b3b0;
  --color-planet3: #4564b3;
  --color-planet4: #8745b3;
  --color-planet5: #b3459b;

  /* 취소 버튼 색상 */
  --color-cancel-border: #eaeaf2;
  --color-cancel-text: #35363f;

  /* 배지 버튼 색상 */
  --color-badge-border-blue: #4261d0;
  --color-badge-bg-dark: #001579;
  --color-badge-text-cyan: #31d7f3;
  --color-badge-hover-dark: #002080;

  --color-badge-selling: #00232b;
  --color-text-selling: #00e6ce;
  --color-badge-sold: #d4c7ff;
  --color-text-sold: #413568;
  --color-badge-timeout: #e6e6e6;
  --color-text-timeout: #505252;
  --color-badge-reported: #ffffff;
  --color-text-reported: #505252;
  --color-background-card: #faf8f3;

  --color-login-description: #6ef4d7;
  --color-kakao-button: #fee500;

  --color-stepper-chosen: #7246d9;
  --color-stepper-prev: #b3a7f8;
  --color-stepper-check: #7444dd;

  --font-family-sans: var(--font-pretendard), Pretendard, sans-serif;

  --width-mobile-min: 375px;
  --width-mobile-max: 620px;
  --color-border-zet: #1379c8;

  --color-password-bg: #070d24;
  --width-mobile-min: 375px;
  --width-mobile-max: 620px;

  --color-hr-border: #777777;
  --color-badge-border: #d9d9d9;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    height: -webkit-fill-available;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-family-sans);
    line-height: 1.6;
    overscroll-behavior: none;
    touch-action: manipulation;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}
